.login-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.login-btn {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid lightcoral;
    background-color: lightcoral;
    color: white;
    font-weight: 600;
}